.row{
    padding:20px 0;
}

.row:after{
    clear: both;
}

.row:after, .row:before{
    display: table;
    content: " ";
}

.col-6{
    float:left;
    padding:0 15px;
    width:50%;
} 

.col-12{
    float:left;
    padding:0 15px;
    width:100%;
}